*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0 32px;
  display: grid;
  place-items: center;
  font-family: vazir;
  background: cyan;
}

html, body{
  height: 100%;
}

.circle{
  position: fixed;
  height: 100vmin;
  width: 100vmin;
  right: -50vmin;
  top: -50vmin;
  border-radius: 50%;
  background: #65c8ff;
}

.circle::after{
  content: "";
  position: inherit;
  width: inherit;
  height: inherit;
  bottom: -50vmin;
  left: -55vmin;
  border-radius: inherit;
  background: #143d81;
}

.card{
  overflow: hidden;
  position: relative;
  width: 100%;
  background: white;
  z-index: 3;
  border-radius: 1.25rem;
  padding: 160px 30px 38px;
  margin: 0 20px;
  text-align: center;
  box-shadow: 0 100px 100x cyan;
}

.card::before{
  content: "";
  position: absolute;
  height: 1000px;
  width: 1000px;
  top: -880px;
  left: 50%;
  background: blue;
  translate: -50% 0;
  border-radius: 50%;
}

.card .logo{
 position: absolute;
 height: 64px;
 width: 64px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 background-color: #fff;
 top: 30px;
 left: 50%;
 translate: -50% 0;
}
.card .logo i{
  font-size: 45px;
  color: #216ce7;
  font-weight: 500;
}

.card>h1{
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 30px;
  color: #2a3444;

}
.form{
  margin: 0 0 30px;
  display: grid;
  gap: 18px;
}

.form>input, form>button{
  height: 50px;
  width: 100%;
  border-radius: 28px;
}

.form>input{
  border: 2px solid #e0e0e0;
  border-color: rgb(156, 156, 156);
  font-family: inherit;
  font-weight: 500;
  font-size: 1.25rem;
  color: #11274c;
  transition: all 0.375s;
  padding: 0 15px;
}

.form>input:hover{
  border:2px solid black;
}

.form>input::placeholder{
  color: #cac8c8;
  font-family: vazir;
}
.form>button{
  padding: 0 16px;
  cursor: pointer;
  background: #216ce7;
  color: #f9f9f9;
  font-family: vazir;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.8px;
  border: none;
  transition: all 0.375s;
}

.form>button:hover{
  background: #1b54af;
}

footer{
  color: #7c7c7c;
}
footer>a{
  text-decoration: none;
  transition: all 0.375s;
}
footer>a:hover{
  color: rgb(152, 194, 196);
}

@media (width >= 500px){
  body{
    padding: 0;
  }
  .card{
    margin: 0;
    width: 360px;
  }
}
